.sidebar-upload {
    background-color:#f0f2f7;
    padding: 2em 1em;
    width: 100%;
  
    &.ng-sidebar--opened.ng-sidebar--over {
      box-shadow: 0 0 2.5em rgba(85, 85, 85, 0.5);
    }
  }

  .sidebar-search {
    background-color:#f0f2f7;
    padding: 2em 1em;
    width: 100%;
  
    &.ng-sidebar--opened.ng-sidebar--over {
      box-shadow: 0 0 2.5em rgba(85, 85, 85, 0.5);
    }
  }